#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: luisperez # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
    - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC8JJJsXBDBGcD3ZTXuJ/yUJiyMNiVn0Jq8hzJk5NM0/A6Ns7A1viQC7fwvkVWNtOG7BIHLtICjtOzpwcNGxJxcmLakiSSEdSFEpr9D5WBUPRbgn1ikZ/vFFdSemiohBDbgQFJsB1mTpwmfb+X+qC/R/5gbaIpxdP9pOch1kZ0iR23II2DchuCKoYEfdG103ONZ80Ao8/CVcCd78ag2zSSborpTvCwUh09jd8J27s0uSZ0eZbmwQAWxf0kwp0hEIiydfH/7TNwZHw8EGD+D/E8SxCmiqTNkE0d1a3Ji1zUeZFAm/kfttNcxqZU3mTE0ym6hcgAZlfOPzJ5XQWTNpVBoDZ85ZZk37IlvhVdTen+lXe03hYtlW85Z5DgC/FSupeP5OjCD7s5XlEvens36pwkWUXewYenJexcl7UOuRXYG6j/8pK9sjYYAnzjHbEPv7pz9/QsWSBVH3uNOkifK5bmb7WrlQZ/ZzKCg9JdO24kVKvwOaxaBjiwnjFERn7tYGmE= luisperez@usrvflores
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
#ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC8JJJsXBDBGcD3ZTXuJ/yUJiyMNiVn0Jq8hzJk5NM0/A6Ns7A1viQC7fwvkVWNtOG7BIHLtICjtOzpwcNGxJxcmLakiSSEdSFEpr9D5WBUPRbgn1ikZ/vFFdSemiohBDbgQFJsB1mTpwmfb+X+qC/R/5gbaIpxdP9pOch1kZ0iR23II2DchuCKoYEfdG103ONZ80Ao8/CVcCd78ag2zSSborpTvCwUh09jd8J27s0uSZ0eZbmwQAWxf0kwp0hEIiydfH/7TNwZHw8EGD+D/E8SxCmiqTNkE0d1a3Ji1zUeZFAm/kfttNcxqZU3mTE0ym6hcgAZlfOPzJ5XQWTNpVBoDZ85ZZk37IlvhVdTen+lXe03hYtlW85Z5DgC/FSupeP5OjCD7s5XlEvens36pwkWUXewYenJexcl7UOuRXYG6j/8pK9sjYYAnzjHbEPv7pz9/QsWSBVH3uNOkifK5bmb7WrlQZ/ZzKCg9JdO24kVKvwOaxaBjiwnjFERn7tYGmE= luisperez@usrvflores
